body{

}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
body{
font-family: 'Poppins', sans-serif;
}
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1170px;
	margin: 0 auto;
}
.ba-header{
	position: absolute;
	width: 100%;
	left: 0;
	top: 30px;
}
.ba-header .ba-container{
	display: flex;
	justify-content: space-between;
	-webkit-align-items: center;
	        align-items: center;
}
.logo{
	margin: 0;
}
.logo_link{
	text-decoration: none;
	color: #fff;
	font-size: 33px;
}


.menu{
	display: flex;
	list-style: none;
}

.menu_item + .menu_item{
	margin-left: 30px;

}
.menu_item{
	overflow: hidden;
}
.menu_link{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	position: relative;

}
.menu_link:after{
content: '';
position: absolute;
left: 0;
bottom: 0;
transform: translateX(-100%);
width: 100%;
height: 1px;
background: #e71cb4;
display: inline-block;
transition: left .2s, height .5s;
transition-timing-function: cubic-bezier(0.42, 0, 0, 1.12);
}
.menu_link:hover, .menu_link:focus{
	color: #e71cb4;
}
.menu_link:hover:after,
.menu_link:focus{
	transform: translateX(0);
	height: 3px;
}

.ba-hero{
	background-image: url("../img/ezra-comeau-jeffrey-77199-unsplash.jpg");
	background-color: #000;
	-webkit-background-size: cover;
	    -o-background-size: cover;
	   `   background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	text-align: center;
	color: #fff;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	justify-content: center;
}
.ba_hero_title{
	font-size: 60px;

}
.ba_hero_text{
	font-size: 30px;
	margin-bottom: 1.8em;
}
.ba_hero_btn{
	border-radius: 10px;
	border: 2px solid rgb(221, 221, 221);
	height: 54px;
	font-weight: 500;
	color: #fff;
	display: inline-flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	text-decoration: none;
	padding: 0 1.25em;
}
.ba_hero_btn:hover, .ba_hero_btn:focus{
	background-color: #FFF;
	color: #000;
}
.arrow{
	font-size: 34.624px;
	color: #e71cb4;
	line-height: 1.2;
	font-weight: 700;
	margin: 100px 0 80px 0;
}
p{
	margin: 0;
	margin-bottom: 100px;
	font-size: 32px;
}
.list{
  font-size: 24px;
  font-family: "Poppins";
  color: rgb(68, 68, 68);
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 60px;
}
.arrow-number1{
	color: #ffde16;
	font-size: 1.5em;
	margin-right: 25px;
	margin-left: 45px;
	font-weight: 700;
}
.arrow-number2{
	color: #ff6179;
	font-size: 1.5em;
	margin-right: 25px;
	margin-left: 45px;
	font-weight: 700;
}
.arrow-number3{
	color: #20c9e0;
	font-size: 1.5em;
	margin-right: 25px;
	margin-left: 45px;
	font-weight: 700;
}
.arrow-number4{
	color: #2eac66;
	font-size: 1.5em;
	margin-right: 25px;
	margin-left: 45px;
	font-weight: 700;
}
.arrow-number5{
	color: #ff6179;
	font-size: 1.5em;
	margin-right: 25px;
	margin-left: 45px;
	font-weight: 700;
}
.arrow-number6{
	color: #ffde16;
	font-size: 1.5em;
	margin-right: 25px;
	margin-left: 45px;
	font-weight: 700;
}

.number01, .number04, .number03, .number02, .number05, .number06{
	position: relative;
	margin-left: 5px;
}
.number{
	position: relative;
	max-width: 1170px;
}
.first-col, .second-col{
	display: inline-block;
	margin-bottom: 60px;
	
}
.second-col{
	position: absolute;
	right: 0;
}

.number01:before,
.number01:after{
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	height: 15px;
	width: 3px;
	background-color: #ffde16;
	display: inline-block;
}
.number01:before{
	transform: rotate(45deg);
	top: 14px;
}
.number01:after{
	transform: rotate(-45deg);
}
.number04:before,
.number04:after{
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	height: 15px;
	width: 3px;
	background-color: #2eac66;
	display: inline-block;
}
.number04:before{
	transform: rotate(45deg);
	top: 14px;
}
.number04:after{
	transform: rotate(-45deg);
}
.number02:before,
.number02:after{
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	height: 15px;
	width: 3px;
	background-color: #ff6179;
	display: inline-block;
}
.number02:before{
	transform: rotate(45deg);
	top: 14px;
}
.number02:after{
	transform: rotate(-45deg);
}
.number03:before,
.number03:after{
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	height: 15px;
	width: 3px;
	background-color: #20c9e0;
	display: inline-block;
}
.number03:before{
	transform: rotate(45deg);
	top: 14px;
}
.number03:after{
	transform: rotate(-45deg);
}
.number05:before,
.number05:after{
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	height: 15px;
	width: 3px;
	background-color: #ff6179;
	display: inline-block;
}
.number05:before{
	transform: rotate(45deg);
	top: 14px;
}
.number05:after{
	transform: rotate(-45deg);
}
.number06:before,
.number06:after{
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	height: 15px;
	width: 3px;
	background-color: #ffde16;
	display: inline-block;
}
.number06:before{
	transform: rotate(45deg);
	top: 14px;
}
.number06:after{
	transform: rotate(-45deg);
}
.number [class*="number"]{
	margin-bottom: 30px;
}
.list2{
  font-size: 22px;
  font-family: "Poppins";
  color: rgb(68, 68, 68);
  line-height: 1.818;
  text-align: left;
}
.list3{
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(68, 68, 68);
  line-height: 1.2;
  text-align: left;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
}
.list4{
  font-size: 14px;
  color: rgb(68, 68, 68);
  line-height: 2.853;
  text-align: left;
  font-family: "Poppins";
  margin-bottom: 30px;
}
.list_btn{
  border-radius: 10px;
  background-color: rgb(198, 14, 190);
  width: 250px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  display: inline-flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
  margin-bottom: 100px;
}
.ba-team{
  background-image: -moz-linear-gradient( 90deg, rgb(255,0,204) 0%, rgb(51,51,153) 64%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,0,204) 0%, rgb(51,51,153) 64%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,0,204) 0%, rgb(51,51,153) 64%);
}
.team-container{
	max-width: 1170px;
	margin: 0 auto;
	text-align: center;
	color: #fff;

	-webkit-align-items: center;
	        align-items: center;
	justify-content: center;
}
.team-title{
  font-size: 34.62px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  padding-top: 100px;
  padding-bottom: 30px;
  margin: 0;
}
.team-title2{
	font-size: 34.62px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}
.team-about{
  font-size: 22px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  line-height: 1.818;
  margin-bottom: 40px;
}
.people-title{
  font-size: 24px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
  margin: 0;
}
.position{
  font-size: 14px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}
.one{
	display:  inline-block;
}
.first-people, .second-people{
	display: flex;
	justify-content: space-between;
}
.time{
	display: flex;
	justify-content: center;
}
.days, .hours, .minutes, .seconds{
	width: 100px;
	height: 100px;
	font-size: 42px;
	font-weight: 700;

}
.day, .hour, .minute, .second{
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}
.days{
	border: 1px solid lightgrey;
}
.hours, .minutes, .seconds{
	background-color: #4b0241;
	margin-left: 150px;
	margin-bottom: 100px;
}
.sponsor{
	max-width: 1170px;
	margin: 0 auto;
}
.sponsor-title{
  font-size: 42px;
  font-family: "Poppins";
  color: #444444;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}
.img-wrapper{
	display: flex;
	justify-content: space-between;
	margin: 50px 0 50px 0;
}
.jury{
	background: #ffe9eb;
}

.jury-title{
  font-size: 42px;
  font-family: "Poppins";
  color: rgb(68, 68, 68);
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.people{
	display: flex;
	justify-content: center;
}
.jury-people > p{
	color: #000;
}
.jury-people{
	margin-bottom: 50px;
}
.jury-people > * {
	margin-bottom: 15px;
}
.jury-people + .jury-people{
	margin-left: 30px;
}